<%= form_with(model: secretcodes, local: true) do |form| %>
  
  <% if secretcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secretcode.errors.count, "error") %> prohibited this secretcode from being saved:</h2>

      <ul>
      <% secretcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>